<% @movies.each do |movie| %>
   <tr>
    <td>
       <%= link_to image_tag(movie.poster_image_url.thumb.url), movie_path(movie) %>
    </td>
    <td>
      <%= link_to movie.title, movie_path(movie) %>
    </td>
     <td>
       <%= movie.release_date %>
     </td>
     <td>
        <%= movie.runtime_in_minutes %>
     </td>
     <td>
        <%= movie.director %>
     </td>
     <td>
       <%= movie.description %>
     </td>
   </tr>
<% end %>
