<h1> Contact List </h1>
<%= @jsoned %>

<!-- <% @contacts.each do |contact| %>
  <div class="contact">
    <h3><a href="/contacts/<%= contact.id %>"><%= contact.name %></a> <small>(<%= contact.address %>)</small></h3>
    <p> - <%= contact.phone_number %> </p>
  <div>
<% end %> -->
<!--
$.ajax(
    type:'GET',
    url:"http://example.com/users/feeds/",
    data:"format=json&id=123",
    success:function(feed) {
        document.write(feed);
    },
    dataType:'jsonp'
); -->
