<%= form_for @user do |f| %>

  <div>
    <%= f.label :firstname %><br>
    <%= f.text_field :firstname %>
  </div>
  <div>
    <%= f.label :lastname %><br>
    <%= f.date_field :lastname %>
  </div>
  <div>
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div>
    <%= f.label :admin %><br>
    <%= f.number_field :admin %>
  </div>
  <div>
    <%= f.submit "Submit" %>
  </div>
<% end %>
